header.header {
    .header__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: space-between;
        padding: 15px 0;
    }
}