.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.18);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__menu {
    display: flex;
    align-items: center;
}

a.header__menu-link {
    font-weight: $font-weight-medium;
    color: $color-text-secondary;
    text-decoration: none;
    font-family: $font-family-base;
    font-size: $font-size-navigation;
    transition: opacity 0.2s ease;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

a.header__menu-link:hover {
    opacity: 0.6;
}

.header__number {
    display: flex;
    align-items: center;
}

button.call {
    padding: 12px 28px;
    margin-left: 10px;
    border: none;
    border-radius: 43px;
    color: $color-text-primary;
    background-color: $color-buttonbackground-primary;
    font-size: $font-size-button;
    font-family: $font-family-base;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22);
}

button.call:hover {
    opacity: 0.7;
}