main.main {
    position: relative;
    width: 100%;
}

.wrapper {
    height: 2000px;
}

.features {
    .titlefeatures {
        font-family: $font-family-h1;
        font-size: $h2;
        color: $color-text-secondary;
        padding-top: 104px;
        font-style: Bold;
        font-weight: 700;
        text-align: center ;
        text-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    }
    min-height: 2000px;
}




