main.main {
    position: relative;
}

.wrapper {
    height: 2000px;
    background-color: white;
    .features {
        .titlefeatures {
            padding-top: 104px;
            font-style: Bold;
            font-weight: 700;
            text-align: center ;
        }
        height: 429px;

    }
}




